<div class='wrapper'>

    <div class='nav'>
        <div class='nav-items' ng-if='menu'>
            <a href='/#/'><h3 class='hvr-underline-from-left'>Home</h3></a>
            <a href='/#/about'><h3 class='hvr-underline-from-left'>About</h3></a>
            <a href='/#/work'><h3 class='hvr-underline-from-left'>Work</h3></a>
            <a href='/#/contact'><h3 class='hvr-underline-from-left'>Contact</h3></a>
        </div>
        <div class='social-icons'>
            <a href='https://twitter.com/thriveamidchaos' target='_blank'><i class="fa fa-twitter"></i></a>
            <a href='https://www.linkedin.com/in/logan-marshall-7389872a' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <div ng-hide='menu' class='hamburger-btn' ng-click='toggleMenu()'>
            <i class="fa fa-bars"></i>
        </div>
        <div ng-show='menu' class='times-btn' ng-click='toggleMenu()'>
            <img src='Images/x-btn.jpg'/>
        </div>
    </div>
    <div class='about-hero'>
        <div class='about-title'>
            <h2>Creative Vision + Attention to detail</h2>
            <p>I'm a 23 year old develper from Maine with big ambitions and varied <br> passions. When I'm not rock climbing or backpacking abroad I combine <br> my unique creative spark with an obsessive attention to detail to create <br> beautiful digital experiences. Thanks so much for being here. I hope you <br> like my work.</p>
            <a href='/#/work' class='hvr-sweep-to-bottom'>View my work</a>
        </div>    
    </div>
    <div class='slant'>
    </div>
    <div class='my-face'><img src='Images/prof.jpg'/></div>
    <div class='about-me'>
        <h4>A paradox of sorts, I’m a web developer who loves being in nature, <br> practices handstands and backflips in his spare time, and cares <br> deeply about the health of the planet. I believe this gives me a <br> unique perspective from which to interface with the digital world.</h4>
        
        <p>A "creative-type" at heart, I approah my work from a right-brained, idea <br> oriented place – thinking about the <em>why</em>, <em>what</em> and <em>how</em> behind the code I <br> write. I also have a firm grasp of the technical fundamentals which, coupled <br> with my borderline obsessive attention to detail, allows me to create clean <br> and impactful digital experiences. I still have a ton to learn, but I'm proud <br> of the apps I've built thus far. </p>
        <div class='explore-buttons'>
            <a href='/#/work' class='hvr-sweep-to-bottom'>Work</a>
            <a class='hvr-sweep-to-bottom'>Blog</a>
            <a href='/#/contact' class='hvr-sweep-to-bottom'>Contact</a>
        </div>
    </div>
<!--
    <div class='quote'>
        <div class='quote-box'>
            <h2>"I'm a 23 year old web develper from Maine with big ambitions and varied passions. Depending on the day, you can find me building beautiful web apps, rock climbing or backpacking abroad. Thanks so much for being here, I hope you like my work."</h2>
            <h4>LOGAN MARSHALL</h4>
        </div>
    </div>
    <div class='photos'>
        <img src='Images/climb.jpg'/>
        <img src='Images/sparta.jpg'/>
        <img src='Images/fire.jpg'/>
        <img src='Images/dunes.jpg'/>
        <img src='Images/spring.jpg'/>
        <img src='Images/yose.jpg'/>
        <img src='Images/machu.jpg'/>
        <img src='Images/guate.jpg'/>
        <img src='Images/fire.jpg'/>
    </div>
    <div class='more-photos'>
        <img src='Images/goats.jpg'/>
        <img src='Images/nh.jpg'/>
        <img src='Images/stars.jpg'/>
        <img src='Images/surf.jpg'/>
        <img src='Images/white-mtn.jpg'/>
        <img src='Images/quest.jpg'/>
        <img src='Images/ocean.jpg'/>
        <img src='Images/peru.jpg'/>
        <img src='Images/volcan.jpg'/>
        <img src='Images/fire.jpg'/>
    </div>
    <div class='footer'>
        <div class='explore'>
            <h3>Continue Exploring</h3>
            <div class='explore-buttons'>
                <a href='/#/about' class='hvr-sweep-to-bottom'>About</a>
                <a class='hvr-sweep-to-bottom'>Work</a>
                <a class='hvr-sweep-to-bottom'>Blog</a>
            </div>
        </div>
    </div>
-->
    <div class='bottom'>
        <img src='Images/logan3.png'/>
        <div class='bottom-social'>
             <a href='https://twitter.com/thriveamidchaos' target='_blank'><i class="fa fa-twitter"></i></a>
            <a href='https://www.linkedin.com/in/logan-marshall-7389872a' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://www.instagram.com/logangressmarshall' target='_blank'><i class="fa fa-instagram"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <p>	&copy; LOGAN MARSHALL 2016</p>
    </div>

</div>