<div class='wrapper'>

    <div class='nav'>
        <div class='nav-items' ng-if='menu'>
            <a href='/#/'><h3 class='hvr-underline-from-left'>Home</h3></a>
            <a href='/#/about'><h3 class='hvr-underline-from-left'>About</h3></a>
            <a href='/#/work'><h3 class='hvr-underline-from-left'>Work</h3></a>
            <a href='/#/contact'><h3 class='hvr-underline-from-left'>Contact</h3></a>
        </div>
        <div class='social-icons'>
            <a href='https://twitter.com/thriveamidchaos' target='_blank'><i class="fa fa-twitter"></i></a>
            <a href='https://www.linkedin.com/in/logan-marshall-7389872a' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <div ng-hide='menu' class='hamburger-btn' ng-click='toggleMenu()'>
            <i class="fa fa-bars"></i>
        </div>
        <div ng-show='menu' class='times-btn' ng-click='toggleMenu()'>
            <img src='Images/x-btn.jpg'/>
        </div>
    </div>
    
    <div class='work-banner'>
        <div class='work-title'>
            <h2>Hit me up.</h2>
            <p>If you'd like to work with me or you just want to say hello, shoot <br>an email to <span><strong>info@logangmarshall.com.</strong></span> I'll respond as soon as I can.</p>
        </div>
    </div>
    
    <div class='contact-image'>
    </div>
    
        <div class='footer'>
        <div class='explore'>
            <h3>Continue Exploring</h3>
            <div class='explore-buttons'>
                <a href='/#/about' class='hvr-sweep-to-bottom'>About</a>
                <a href='/#/work' class='hvr-sweep-to-bottom'>Work</a>
                <a href='/#/contact' class='hvr-sweep-to-bottom'>Contact</a>
            </div>
        </div>
    </div>
    
    <div class='bottom'>
        <img src='Images/logan3.png'/>
        <div class='bottom-social'>
             <a href='https://twitter.com/thriveamidchaos' target='_blank'><i class="fa fa-twitter"></i></a>
            <a href='https://www.linkedin.com/in/logan-marshall-7389872a' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://www.instagram.com/logangressmarshall' target='_blank'><i class="fa fa-instagram"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <p>	&copy; LOGAN MARSHALL 2016</p>
    </div>
    
</div>

