<div class='wrapper'>

    <div class='nav'>
        <div class='nav-items' ng-if='menu'>
            <a href='/#/'><h3 class='hvr-underline-from-left'>Home</h3></a>
            <a href='/#/about'><h3 class='hvr-underline-from-left'>About</h3></a>
            <a href='/#/work'><h3 class='hvr-underline-from-left'>Work</h3></a>
            <a href='/#/contact'><h3 class='hvr-underline-from-left'>Contact</h3></a>
        </div>
        <div class='social-icons'>
            <a href='https://twitter.com/thriveamidchaos' target='_blank'><i class="fa fa-twitter"></i></a>
            <a href='https://www.linkedin.com/in/logan-marshall-7389872a' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <div ng-hide='menu' class='hamburger-btn' ng-click='toggleMenu()'>
            <i class="fa fa-bars"></i>
        </div>
        <div ng-show='menu' class='times-btn' ng-click='toggleMenu()'>
            <img src='Images/x-btn.jpg'/>
        </div>
    </div>
    <div class='hero'>
        <div class='title'>
            <h2>I'm a full-stack developer with an eye <br> for design and a passion for adventure. </h2>
            <a href='/#/work' class='hvr-sweep-to-bottom'>View my work</a>
        </div>    
    </div>
    <div class='slant'>
    </div>
    <div class='info'>
        <div class='info-title'>
            <h4>Hey, my name is Logan. I'm a budding developer and <br> creative builder of things. This site is where I showcase <br> my creations and share my learning process. If you want <br> to see what I've been up to lately, scroll down.</h4>
        </div>
    </div>
    <div class='projects'>
        <div class='proj-title'>
            <h3>Recent Projects</h3>
            <div class='proj-description'>
                <h4>Currently a student at <a href='https://devmounta.in/' target="_blank">DevMountain</a> in Utah, here are <br> a few of my recent personal projects. I still have a ton to <br> learn, but I'm proud of the apps I've built so far and am <br> excited to tackle bigger, better projects in the future.</h4>
            </div>
        </div>
    </div>
    <div class='my-work'>
        <div class='travel-timeline'>
            <div class='overlay'>
                <div class='text'><h1>Travel Timeline</h1></div>
            </div>
        </div>
        <div class='upcoming'>
            <div class='overlay'>
                <div class='text'><h1>Coming Soon</h1></div>
            </div>
        </div>
    </div>
    <div class='slant2'>
    </div>
    <div class='learn-more'>
        <div class='proj-title2'>
            <h3>My Skillset</h3>
            <div class='proj-description'>
                <h4>I'm proficient in HTML, CSS, Javascript, jQuery, AngularJs, <br> NodeJs and Mongo. I'm also a skilled writer, videographer <br> and designer. Plus, I can speak fluent Spanish and do a <br> handstand for over a minute (but who's counting?)</h4>
            </div>
<!--
            <i class="fa fa-hand-paper-o"></i>
            <i class="fa fa-code"></i>
            <i class="fa fa-pencil"></i>
            <i class="fa fa-video-camera"></i>
-->

        </div>
    </div>
    <div class='footer'>
        <div class='explore'>
            <h3>Continue Exploring</h3>
            <div class='explore-buttons'>
                <a href='/#/about' class='hvr-sweep-to-bottom'>About</a>
                <a href='/#/work' class='hvr-sweep-to-bottom'>Work</a>
                <a href='/#/contact' class='hvr-sweep-to-bottom'>Contact</a>
            </div>
        </div>
    </div>
    <div class='bottom'>
        <img src='Images/logan3.png'/>
        <div class='bottom-social'>
             <a href='https://twitter.com/thriveamidchaos' target='_blank'><i class="fa fa-twitter"></i></a>
            <a href='https://www.linkedin.com/in/logan-marshall-7389872a' target='_blank'><i class="fa fa-linkedin"></i></a>
            <a href='https://www.instagram.com/logangressmarshall' target='_blank'><i class="fa fa-instagram"></i></a>
            <a href='https://github.com/loganxc12' target='_blank'><i class="fa fa-github"></i></a>
        </div>
        <p>	&copy; LOGAN MARSHALL 2016</p>
    </div>

<!--
    <div class='info'>
    </div>
-->

<!--
    <svg class='background' version='1.1' xmlns="http://www.w3.org/2000/svg" viewBox="0,0,1263,2" style="width: 1265px; height: 354px;">
        <polygon points="1268,0 -5,64 -5,354 1268,354">
            <div class='intro'>
                <h2>This is a test paragraph.</h2>
            </div>
        </polygon>
    </svg>
-->
</div>
